/.bundle
/db/*.sqlite3
/db/*.sqlite3-journal
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/node_modules
/yarn-error.log
/log/development.log
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.rvmrc
/.bundle
/vendor/bundle
/test/*
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.project
/config/database.yml
/config/secrets.yml
/public/uploads
config/settings.local.yml
config/settings/*.local.yml
config/settings/test.yml
config/environments/*.local.yml
.DS_Store
/.idea
.byebug_history
.framgia-ci-reports
/app/views/layouts/test.html.erb
/.framgia-ci-reports/*
.framgia-ci-result.temp.yml
/config/rails_best_practices.yml

# Ignore application configuration
/config/application.yml
