<div class="container personal-page">
  <div class="row personal-info">
    <div class="col-xs-3">
      <%= image_tag "default-ava.jpg", alt: "default-ava.jpg",
        class: "avatar" %>
    </div>
    <div class="col-xs-3">
      <p class="name"><%= @user.name %></p>
    </div>
    <div class="col-xs-5">
      <%= link_to t("common.update_profile"),
        edit_user_registration_path, class: "edit-btn" %>
    </div>
  </div>
</div>
