<%= link_to cart_path do %>
  <span id="ex4">
    <span class="p1 fa-stack fa-2x has-badge" data-count="<%= current_order.order_items.size %>">
      <i class="p3 fa fa-shopping-cart fa-stack-1x xfa-inverse" data-count="4b"></i>
    </span>
  </span>
<% end %>