<footer class="footer">
  <div class="container">
    <div class="col-md-4">
      <div class="title">
        <%= t "footer.title" %>
      </div>
      <div class="content">
        <%= t "footer.content" %>
      </div>
    </div>
    <div class="col-md-push-2 col-md-6">
      <div class="submit-mail">
        <form>
          <input type="email" placeholder="<%= t "footer.email" %>" >
        </form>
      </div>
    </div>
  </div>
</footer>
