<div class="row">
  <div class="col-xs-4"><%= order.created_at %></div>
  <div class="col-xs-3"><%= order.price %></div>
  <div class="col-xs-3"><%= link_to t("orders.detail"), order_path(order) %></div>
</div>