<div class="row">
  <div class="column"><%= order.created_at %></div>
  <div class="column"><%= order.price %></div>
  <div class="column"><%= link_to t("orders.detail"), order_path(order) %></div>
</div>