<% if review_list.any? %>
  <% review_list.each do |review| %>
    <%= render "review_detail", review: review %>
  <% end %>
<% else %>
  <%= t "books.no_review" %>
  <h3><%= t "books.be_first", book: book.title %></h3>
<% end %>
<div id="pagination" class="apple-pagination">
  <%= paginate review_list, remote: true %>
</div>
