<div id="book-content" class="book-content">
  <% if books_support.books_search.any? %>
    <% books_support.books_search.each do |book| %>
      <%= render "book_detail", book: book,
        books_had_bookmarked: books_had_bookmarked %>
    <% end %>
  <% else %>
    <center><%= t "book.nothing" %></center>
  <% end %>
  <div id="pagination" class="apple-pagination">
    <%= paginate books_support.books_search, remote: true %>
  </div>
</div>
