# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 841cbe9da2f217ab7233db73befdffa22eb973376e5661aed88a309b04a1fc021e45ff24dd9a19da0641fbf9024ddffb60b6cf08e9bbe0291253be436173d6f3

test:
  secret_key_base: 32153abe5d1f2aeaf37b0d15d6fff67668e56f0a43f74399011dba99f753f42860531f7a95c0f600c01c1c54876e2da27f6498157d079518db41790ae641d3e3

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
