@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

$alto: #dadada;
$black: #000;
$blue: #00f;
$cornflower-blue: #6495ed;
$dark-silver: #aaa;
$gray-light: #eee;
$gray-lighter: #cdcdcd;
$green: #27ae61;
$white: #fff;

.left {
  float: left;
}

.right {
  float: right;
}

.text-left {
  box-shadow: 1px 1px 1px 1px $gray-lighter;
  height: 150px;
  margin-top: 25px;
  padding: 8px;
  text-align: center;
}

.book-content {
  margin-top: 20px;
}

.book-detail {
  box-shadow: 1px 1px 1px 1px $gray-lighter;
  height: 300px;
  margin-bottom: 20px;
  margin-top: 5px;
  padding: 0 17px;

  &:hover {
    box-shadow: 1px 1px 2px 2px $gray-lighter;
    transition: all .8s ease;
  }
}

.book-cover {
  box-shadow: 1px 1px 1px 1px $gray-lighter;
  margin-bottom: 18px;
  margin-top: 18px;
  max-width: 25%;
  width: 25%;
}

.book-des {
  height: 200px;
  margin: 15px 0 15px 35px;
  text-align: left;
}

.book-action {
  display: inline-block;
  float: left;
  font-size: 24px;
  height: 43px;
  padding-left: 35px;
  text-align: left;

  a {
    line-height: 29px;
  }

  .bookmark-link {
    float: left;
  }
}

.book-index-btn {
  background-color: $green;
  box-shadow: 1px 1px 1px 1px $gray-lighter;
  color: $white;
  height: 100%;
  margin-right: 20px;
  width: 100px;
}

.book-index-title {
  color: $green;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 15px;
}

.book-info {
  font-size: 1.2em;

  .item {
    margin-bottom: 10px;
  }

  .title {
    color: $green;
    display: inline-block;
    font-weight: bold;
    margin-right: 15px;
  }
}

.book-index-cover {
  height: 265px;
  width: 207px;
}

.btn-search-book-index {
  width: 80px;
}

.f-text.f-calendar {
  background: url("http://www.hungrydeals.sg/bundles/insingpromotion/images/sprite_repeat.png") no-repeat right center;
}

.f-text {
  border: 1px solid $alto;
  border-radius: 4px;
  color: $black;
  display: block;
  font-family: "hgw-HelveticaNeue", Arial, sans-serif;
  max-width: 100%;
}

.pj-form-field {
  background-color: $white;
  border: solid 1px $alto;
  border-radius: 3px;
  box-shadow: inset 1px 1px 1px $gray-light;
  font: normal 16px Verdana, sans-serif;
  font-family: Verdana;
  padding: 7px 6px;
}

.pj-form-field [type=text] {
  height: 14px;
  margin-top: 5px;
  padding: 7px 6px;
}

.pointer {
  cursor: pointer;
}

.book-show-cover {
  height: 450px;
  width: 350px;
}

.book-cover-container {
  border: 1px solid $gray-light;
}

.book-show-info {
  font-size: 16px;
}

.book-show-title {
  color: $blue;
  font-size: 32px;
}

.book-show-review {
  text-align: left;
}

.book-show-full-info {
  height: 500px;
}

.apple-pagination {
  cursor: default;
  font-size: 18px;
  font-weight: 200;
  text-align: center;

  a,
  span {
    padding: 0 2px;
  }

  .disabled {
    color: $dark-silver;
  }

  .current {
    background-color: $cornflower-blue;
    border-radius: 1em;
    color: $white;
    display: inline-block;
    font-style: normal;
    font-weight: bold;
    height: 2em;
    padding-top: 5px;
    width: 2em;
  }

  a {
    color: $cornflower-blue;
    text-decoration: none;
  }

  a:hover,
  a:focus {
    text-decoration: underline;
  }
}

.hide-link {
  display: none !important;
}
