@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

$blue: #3b5998;
$gray-lighter: #dadada;
$gray: #a3a3a3;
$green: #27ae61;
$red: #ea4335;
$white: #fff;
$black-transparent: rgba(0, 0, 0, .5);

body {
  text-align: center;
}

@font-face {
  font-family: "Lato";
  src: font-url("Lato/Lato-Regular.ttf");
}

.navbar {
  background-color: $green;
  border: 0;
  border-radius: 0;
  box-shadow: 1px 1px 2px 2px $gray-lighter;
  margin-bottom: 0;
  padding: 6px;

  .fa-bookmark {
    color: $white;
    font-size: 2.3em;
    margin-top: 8px;
  }

  .books {
    margin-left: 30px;
  }

  .input-search {
    margin-left: 15px;
    width: 370px;
  }

  a {
    color: $white;
  }

  .nav .open > a,
  .nav .open > a:hover,
  .nav .open > a:focus {
    background-color: transparent;
  }

  .nav > li > a:focus,
  .nav > li > a:hover {
    background-color: transparent;
  }

  .navbar-brand {
    font-family: "Lato", sans-serif;
    font-size: 2.3em;
    font-weight: bold;
  }
}

.authen-box {
  box-shadow: 1px 1px 2px 2px $gray-lighter;
  display: inline-block;
  margin-top: 50px;
  text-align: left;
  width: 420px;

  .field {
    margin-bottom: 10px;
  }

  .face-auth {
    background-color: $blue;
    border-radius: 6px;
    color: $white;
    display: block;
    font-size: 1.4em;
    font-weight: bold;
    margin: 12px 0;
    padding: 5px;
    text-align: center;
    text-decoration: none;
  }

  .google-auth {
    background-color: $red;
    border-radius: 6px;
    color: $white;
    display: block;
    font-size: 1.4em;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    text-decoration: none;
  }

  .omni-title {
    align-items: center;
    color: $gray;
    display: flex;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 15px;
    text-align: center;
    text-transform: uppercase;

    .left-line {
      border: 2px solid $gray;
      border-radius: 3px;
      float: left;
      width: calc((100% - 55px)/2);
    }

    .right-line {
      border: 2px solid $gray;
      border-radius: 3px;
      float: right;
      width: calc((100% - 55px)/2);
    }

    .content {
      display: inline-block;
      margin: 0 15px;
    }
  }

  .remember-me {
    label {
      margin-bottom: 0;
    }
  }

  form {
    display: inline-block;
    width: 100%;
  }

  .login-form {
    padding: 20px;

    .side-link {
      float: right;
    }
  }

  .actions {
    display: inline-block;
    float: left;

    .btn {
      background-color: $green;
      border-color: $green;
      margin-top: 5px;
      width: 150px;
    }
  }

  .signup-form {
    padding: 20px;

    .btn {
      margin-top: 10px;
    }
  }

  .new-user {
    margin-bottom: 10px;
  }

  .title {
    background-color: $green;
    color: $white;
    font-size: 1.4em;
    padding: 20px;
  }
}

.already-have-account {
  margin-top: 10px;
}

.footer {
  background-color: $green;
  color: $white;
  padding: 30px 20px;

  .container {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
  }

  .content {
    text-align: left;
  }

  input {
    background-color: transparent;
    border: 2px solid $white;
    float: right;
    padding: 10px;
    width: 450px;
  }
}

.slogan {
  align-items: center;
  background-image: url("slogan.jpg");
  color: $white;
  display: flex;
  font-size: 1.5em;
  font-weight: bold;
  height: 250px;
  margin-bottom: 50px;

  .content {
    background-color: $black-transparent;
    height: 100%;
    line-height: 12em;
    width: 100%;
  }
}

.categories {
  height: 260px;
  margin-bottom: 15px;
  z-index: 0;

  .category {
    height: 250px;
  }

  .category-content {
    font-weight: bold;
    height: 100%;
    padding: 65px 35px;
    text-align: left;

    .title {
      margin-bottom: 30px;
      z-index: 100;
    }

    .type {
      color: $green;
      font-size: 1.8em;
      margin-bottom: 30px;
    }
  }

  .category-1 {
    background-image: url("home-1-ebook.jpg");
  }

  .category-2 {
    background-image: url("home-1-offer.jpg");
  }

  .category-3 {
    background-image: url("home-1-text-book.jpg");
  }
}

.quote {
  background-color: $green;
  color: $white;
  margin: 50px 0;
  padding: 45px;

  .content {
    font-size: 1.2em;
    margin: 0 auto;
  }
}

.banner {
  align-items: center;
  background-image: url("bg_brick.jpg");
  display: flex;
  height: 460px;
  margin-bottom: 50px;
  position: relative;
  text-align: center;
  width: 100%;

  .stand {
    background-image: url("stand.png");
    background-position: center;
    background-size: 550px 90px;
    height: 90px;
    left: calc((100% - 550px) / 2);
    margin: 0 auto;
    position: absolute;
    top: 317px;
    width: 550px;
  }

  .books {
    display: inline-block;
    left: calc((100% - 450px) / 2);
    position: absolute;
  }

  .book-1 {
    background-image: url("book1.png");
    background-size: 150px 200px;
    display: inline-block;
    height: 200px;
    width: 150px;
  }

  .book-2 {
    background-image: url("book2.png");
    background-size: 150px 200px;
    display: inline-block;
    height: 200px;
    width: 150px;
  }

  .book-3 {
    background-image: url("book3.png");
    background-size: 150px 200px;
    display: inline-block;
    height: 200px;
    width: 150px;
  }
}
