@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

$blue-btn: #337ab7;
$blue-hover-btn: #23527c;

.review-content {
  overflow: hidden;
  resize: none;
  width: 100%;
}

.review-content-label {
  font-size: 1.2em;
  margin: 5px 0;
}

.review-line {
  border: 2px solid $gray;
  border-radius: 3px;
  float: center;
  margin: 15px 0;
  width: 100%;
}

.fa-custom-review {
  margin: 5px;
}

.btn-review-edit {
  color: $blue-btn;

  &:hover {
    color: $blue-hover-btn;
    cursor: pointer;
  }
}
